.get-icon {
  background: url(/assets/chevron-left.svg) no-repeat center;
  background-size: contain;
  vertical-align: middle;
  height: 1em;
  width: 2em;
}

.create-icon {
  background: url(/assets/plus.svg) no-repeat center;
  background-size: contain;
  vertical-align: middle;
  height: 1em;
  width: 2em;
}

.change-icon {
  background: url(/assets/chevron-right.svg) no-repeat center;
  background-size: contain;
  vertical-align: middle;
  height: 1em;
  width: 2em;
}

.delete-icon {
  background: url(/assets/x.svg) no-repeat center;
  background-size: contain;
  vertical-align: middle;
  height: 1em;
  width: 2em;
}

.book-icon {
  background: url(/assets/book.svg) no-repeat center;
  background-size: contain;
  vertical-align: middle;
  height: 1em;
  width: 2em;
}

