<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">HAL-Explorer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="form-group col-md-4">
      <app-url-input></app-url-input>
      <br>
      <app-response-explorer></app-response-explorer>
    </div>
    <div class="form-group col-md-4">
      <app-response-body></app-response-body>
    </div>
    <div class="form-group col-md-4">
      <app-documentation></app-documentation>
    </div>
  </div>
</div>
<!--<router-outlet></router-outlet>-->
