.icon-plus:before {
  content: '\e800';
}

/* '' */
.icon-left-open:before {
  content: '\e801';
}

/* '' */
.icon-right-open:before {
  content: '\e802';
}

/* '' */
.icon-cancel:before {
  content: '\e803';
}

/* '' */
.icon-book:before {
  content: '\e804';
}

/* '' */
.icon-ok:before {
  content: '\e805';
}

/* '' */
