/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

pre {padding: 5px; margin: 5px; color: inherit !important}
.string { color: var(--success, #1e9a18); }
.number { color: var(--info, darkorange); }
.boolean { color: var(--primary, #326e86);}
.null { color: var(--danger, magenta); }
.hal { color: var(--warning, #e4720f); }
