/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

pre {
  padding: 5px;
  margin: 5px;
  color: inherit !important
}

.string {
  color: var(--success, #1e9a18);
}

.number {
  color: var(--info, darkorange);
}

.boolean {
  color: var(--primary, #326e86);
}

.null {
  color: var(--danger, magenta);
}

.hal {
  color: var(--warning, #e4720f);
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442 !important; /* red, overrides also default blue when editing */
}

.error-text {
  color: #a94442;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgrey;
  opacity: 1; /* Firefox */
}

