<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="bs-component">
        <form (ngSubmit)="getUri()">
          <div class="input-group">
            <button type="button" class="btn btn-secondary" (click)="showEditHeadersDialog()">Edit Headers
            </button>
            <input [(ngModel)]="uri" type="url" class="form-control" id="InputApiUri"
                   placeholder="Enter API URI" name="uri">

            <button type="submit" id="go" class="btn btn-primary">Go!</button>
          </div>
        </form>
      </div>

      <div *ngIf="hasCustomRequestHeaders">
        <br>
        <div class="legend">
          <h5>Custom Request Headers</h5>
        </div>

        <div class="bs-component">
          <table class="table table-striped table-sm">
            <tbody>
            <tr *ngFor="let header of requestHeaders">
              <td class="w-25">{{header.key}}</td>
              <td class="w-75">{{header.value}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="HttpRequestTrigger" data-toggle="modal" data-target="#httpRequestModal"></div>

<div class="modal fade" id="httpRequestModal" role="dialog" aria-hidden="false">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">HTTP Request Input</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #myForm="ngForm">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="uri">URI
              <span *ngIf="isUriTemplated(httpRequestEvent.uri)">Template</span>
            </label>
            <div class="col-sm-9">
              <div class="form-control text-truncate"
                   title="{{httpRequestEvent.uri}}"
                   id="uri">{{httpRequestEvent.uri}}</div>
            </div>
          </div>

          <div *ngIf="isUriTemplated(httpRequestEvent.uri)" class="form-group">
            <label>Parameters</label>
            <div id="uri-parameters" class="form-group row"
                 *ngFor="let parameter of uriTemplateParameters">
              <label class="col-sm-3 col-form-label">{{parameter.key}}</label>
              <div class="col-sm-9">
                <input class="form-control" [(ngModel)]="parameter.value"
                       (keyup)="computeUriFromTemplate()"
                       name="{{parameter.key}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="expandedURI">Expanded URI</label>
              <div class="col-sm-9">
                <div class="form-control text-truncate"
                     title="{{newRequestUri}}" id="expandedURI">{{newRequestUri}}</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">HTTP Method</label>
            <div class="col-sm-9">
              <div class="form-control text-truncate">
                {{commandPlaceholder[httpRequestEvent.command]}}
              </div>
            </div>
          </div>

          <div *ngIf="jsonSchema">
            <hr>
            <label class="text-info">Spring Profile (JSON Schema)</label>
            <div class="form-group row" *ngFor="let item of jsonSchema | keyvalue">
              <label [title]="getTooltip(item.key)"
                     class="text-info col-sm-3 col-form-label">{{jsonSchema[item.key].title}}
              </label>
              <div class="col-sm-9">
                <input [type]="getInputType(item.key)" class="form-control"
                       [(ngModel)]="jsonSchema[item.key].value" [ngModelOptions]="{standalone: true}"
                       (keyup)="halFormsPropertyChanged()">
              </div>
            </div>
            <hr>
          </div>

          <div *ngIf="halFormsProperties">
            <hr>
            <label class="text-info">HAL-FORMS Properties
              <span *ngIf="halFormsPropertyKey"> [{{halFormsPropertyKey}}]</span>
            </label>
            <div class="form-group row" *ngFor="let item of halFormsProperties">

              <label *ngIf="item.prompt" [title]="item.name" class="text-info col-sm-3 col-form-label">
                {{item.prompt}}
                <span *ngIf="item.required">*</span>
              </label>
              <label *ngIf="!item.prompt" class="text-info col-sm-3 col-form-label">
                {{item.name}}
                <span *ngIf="item.required">*</span>
              </label>
              <div class="col-sm-9">
                <input class="form-control" [(ngModel)]="item.value"
                       name="{{item.name}}" id="request-input-{{item.name}}" #ngModel="ngModel"
                       type="{{item.type}}"
                       placeholder="{{item.placeholder}}"
                       [appHalFormsProperty]="item"
                       (change)="halFormsPropertyChanged()"
                       (keyup)="halFormsPropertyChanged()">
                <div class="error-text">{{getValidationErrors(ngModel)}}</div>
              </div>
            </div>
            <hr>
          </div>

          <div *ngIf="httpRequestEvent.command === commandPlaceholder.Post
                      || httpRequestEvent.command === commandPlaceholder.Put
                      || httpRequestEvent.command === commandPlaceholder.Patch" class="form-group row">
            <label class="col-sm-3 col-form-label" for="body">Body</label>
            <div class="col-sm-9">
            <textarea *ngIf="myForm.valid" [(ngModel)]="requestBody" class="form-control" id="body" rows="5"
                      name="bodyArea">
            </textarea>
              <textarea *ngIf="myForm.invalid" class="form-control" id="invalidBody" rows="5"
                        name="invalidBodyArea">
            </textarea>
            </div>
          </div>
          <div *ngIf="httpRequestEvent.command === commandPlaceholder.Get
                      || httpRequestEvent.command === commandPlaceholder.Delete" class="form-group row">
            <label class="col-sm-3 col-form-label" for="body">Expanded URI</label>
            <div class="col-sm-9">
              <div id="request-input-expanded-uri" class="form-control text-truncate">
                {{newRequestUri}}
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button id="requestDialogGoButton" type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="makeHttpRequest()" [disabled]="myForm.invalid">Go!
        </button>
      </div>
    </div>
  </div>
</div>

<div id="requestHeadersModalTrigger" data-toggle="modal" data-target="#requestHeadersModal"></div>

<div class="modal fade" id="requestHeadersModal" role="dialog" aria-labelledby="requestHeadersModalLabel"
     aria-hidden="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="requestHeadersModalLabel">Request Headers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div id="titles" class="form-group row">
              <div class="col-sm-3">
                Key
              </div>
              <div class="col-sm-9">
                Value
              </div>
            </div>

            <div id="headers" class="form-group row" *ngFor="let header of tempRequestHeaders">
              <div class="col-sm-3">
                <input class="form-control" [(ngModel)]="header.key"
                       [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-sm-9">
                <input class="form-control" [(ngModel)]="header.value"
                       [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="updateRequestHeaders()">OK
        </button>
      </div>
    </div>
  </div>
</div>
