name: Build

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version: '22'

      # See: https://github.com/actions/cache/blob/main/examples.md#node---yarn
      - name: Get Yarn cache directory
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Use Yarn cache
        uses: actions/cache@v4
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ matrix.node-version }}-${{ hashFiles('**/yarn.lock') }}

      # `--prefer-offline` gives cache priority
      - name: Install dependencies
        run: yarn install --prefer-offline --frozen-lockfile

      - name: Lint application
        run: yarn lint

      - name: Build application
        run: yarn build

      - name: Unit tests
        run: yarn test-headless

      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps

      - name: E2E tests
        run: yarn e2e

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/ng-test/lcov.info

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Cache gradle modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build documentation with Gradle
        run: ./gradlew doc

      - name: Deploy documentation to Github pages
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/docs/gh-pages/snapshot
          destination_dir: snapshot
          publish_branch: gh-pages
          force_orphan: false

#      - name: Trigger Chatty build
#        if: ${{ github.event_name == 'push' }}
#        uses: benc-uk/workflow-dispatch@v1
#        with:
#          workflow: Build
#          repo: toedter/chatty
#          token: ${{ secrets.WORKFLOW_TOKEN }}
#
#      - name: Trigger Movies Demo build
#        if: ${{ github.event_name == 'push' }}
#        uses: benc-uk/workflow-dispatch@v1
#        with:
#          workflow: Build
#          repo: toedter/movies-demo
#          token: ${{ secrets.WORKFLOW_TOKEN }}
